<header class="align-items-center container-fluid bg-light header">
  <a href="{{ "" | absURL }}"> 
  <img class=" mx-auto d-block p-4" src="{{ "img/tothemoon-logo.svg" | absURL }}" height="180" alt="">
</a>


  <nav class="navbar navbar-expand-md bg-light  justify-content-center">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-dark text-cabin" href="#">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Contact</a>
      </li>
    </ul>
  </nav>
</header>
