<header class="align-items-center ">



  <div class="container-fluid bg-dark">
    <img class="rounded mx-auto d-block" src="img/tothemoon-logo.png" height="200" alt="">
  </div>
</header>




<nav class="navbar navbar-expand-md sticky-top bg-light navbar-light  justify-content-center">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>
