<div class="container py-5 mt-5">

  <ul class="grid h-caption align-items-end justify-content-center">
    <div class="row">

      <li class="col-6">
        <figure>
          <img src="{{ "img/4.jpg" | absURL }}" alt="img04">
          <figcaption class="bg-dark">
            <h3 class="">Spacial Revolution</h3>
            <span class="text-primario">Google</span>
            <a class="bg-secundario" href="#">Take a look</a>
          </figcaption>
        </figure>
      </li>



      <li class="col-6">
        <figure>
          <img src="{{ "img/5.jpg" | absURL }}" alt="img01">
          <figcaption>
            <h3>Camera</h3>
            <span>Jacob Cummings</span>
            <a href="#">Take a look</a>
          </figcaption>
        </figure>
      </li>


      <li class="col-6">
        <figure>
          <img src="{{ "img/3.jpg" | absURL }}" alt="img02">
          <figcaption>
            <h3>Music</h3>
            <span>Jacob Cummings</span>
            <a href="#">Take a look</a>
          </figcaption>
        </figure>
      </li>


      <li class="col-6">
        <figure>
          <img src="{{ "img/4.jpg" | absURL }}" alt="img05">
          <figcaption>
            <h3>Safari</h3>
            <span>Jacob Cummings</span>
            <a href="#">Take a look</a>
          </figcaption>
        </figure>
      </li>

      <li class="col-6">
        <figure>
          <img src="{{ "img/5.jpg" | absURL }}" alt="img03">
          <figcaption>
            <h3>Phone</h3>
            <span>Jacob Cummings</span>
            <a href="#">Take a look</a>
          </figcaption>
        </figure>
      </li>

      <li class="col-6">
        <figure>
          <img src="{{ "img/6.jpg" | absURL }}" alt="img06">
          <figcaption>
            <h3>Game Center</h3>
            <span>Jacob Cummings</span>
            <a href="#">Take a look</a>
          </figcaption>
        </figure>
      </li>
    </div>
</div>
</ul>
</div><!-- /container -->
